<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="path">src/main/resources/test</entry>
    <entry key="fileType">.json</entry>
    <entry key="suffix">change</entry>
    <entry key="ResultFile">json</entry>
</properties>