<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true">

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d}{yellow} %highlight{%-5level}{FATAL=bg__red, ERROR=red, WARN=yellow, INFO=green} [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
        <File name="logfile" fileName="src/main/resources/logfile.log" append="false">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="STDOUT" level = "trace"/>
            <AppenderRef ref="logfile"/>
        </Root>
    </Loggers>

</Configuration>