<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <JsonLayout complete="false" compact="true" eventEol="true"></JsonLayout>
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable"/>
        </Console>
        <File name="JsonLog" fileName="src/main/resources/JsonLog.json" append="false">
            <JsonLayout complete="true" compact="false" includeTimeMillis="true">
                <KeyValuePair key="myCustomField" value="myCustomValue"/>
            </JsonLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="JsonLog"/>
        </Root>
        <Logger name="com.vb" level="debug"></Logger>
    </Loggers>
</Configuration>