<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable"/>
        </Console>
        <File name="Log" fileName="src/main/resources/Log.json" append="false">
            <JsonLayout complete="true" compact="false" includeTimeMillis="true">
                <KeyValuePair key="myCustomField" value="myCustomValue"/>
            </JsonLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Log"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>